.why-choose-us h2{
   text-align: center;
   margin-top: 100px;
   color: #23262F;
   font-weight: 600;
   margin-bottom: 0px;
}
.why-choose-us p{
   font-size: 16px;
   color: #777E90;
   text-align: center;
   margin-top: 0px;
}
.choose-content p{
   color: #777E90;
}
.choose-content h2{
   color: #23262F;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 1.2rem;
}
.why-choose-container{
   display: flex;
   margin-left: 7vw;
   margin-right: 5vw;
   justify-content: space-between;
}
.number-chooseUs{
   width: 30px;
   border-radius: 20px;
   color: white;
   text-align: center;
   font-size: small;
   background-color: #8BC5E5;
   margin-top: 40px;
}
.btn{
   padding: 20px 40px;
   border: none;
   font-size: 16px;
   background-color: #02878A;
   color: white;
   border-radius: 20px;
}
.choose-image img{
   max-width: inherit;
}