.heroSection{
   display: flex;
   justify-content: center;
   padding: 0px 5vw;
   margin-top: 70px;
}
.heroSection-img img{
   width: 55vw;
   max-width: 780px;
   min-width: 300px;
}
.heroSection-content{
   margin-left: 2vw;
}
.heroSection-content h2{
   font-size: 4rem;
   font-family: 'DM Sans', sans-serif;
   line-height: 80px;
   font-weight: bold;
   margin-top: 50px;
}
.highlight{
   color: #02878A;
   transition-duration: 0.5s;
}
.heroSection-content p{
   color: #6B6B6B;
   width: 60%;
   line-height: 30px;
   margin-top: 15px;
   position: relative;
}
.heroSection-content button{
   padding: 20px 30px;
   color: white;
   background-color: #02878a;
   border: none;
   font-size: 1rem;
   border-radius: 18px;
   cursor: pointer;
   display: flex;
   margin-top: 25px;
   box-shadow: 3px 3px 15px 5px #02888a3d;
}
.heroSection-content button:hover{
   background-color: #004446;
   box-shadow: -5px -5px 15px 5px #02888a3d;
}
.heroSection-content button img{
   position: relative;
   top: 2px;
   margin-left: 10px;
}
@media screen and (max-width: 1300px) {
   .heroSection-img img{
      width: 50vw;
   }
   .heroSection-content h2{
      font-size: 3.3rem;
      margin-top: 20px;
   }
   .heroSection-content p{
      width: 72%;
   }
 }